@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark:#5651e5;
  --primary-light:#709dff;
    --darkblue: #0f172a;
    --lightdark:#4b5563;
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@layer base {
    button {
        @apply px-4 text-white border bg-gradient-to-r from-[var(--bg-color)] to-[var(--color)] scroll-smooth
    }

    li {
        @apply p-4 text-sm
    }
    body{
        @apply text-[var(--color)]
    }
}
